
<h1>Disruptive Delivery</h1>
<h3>Delivery made simple</h3>

<p>Hello, <%= current_user.email %></p>

<button onclick="toggleForm()">Create delivery</button>

<div id="form-container" style="display:none">
  <%= form_tag("/deliveries", method: "post") do %>
      <%= hidden_field_tag :customer_id, current_user.id %>
      <%= label_tag "Street" %>
      <%= text_field_tag "delivery[street]" %>
      <br>
      <%= label_tag "House number" %>
      <%= text_field_tag "delivery[house_number]" %>
      <br>
      <%= label_tag "Height" %>
      <%= text_field_tag "delivery[height]" %>
      <br>
      <%= label_tag "Width" %>
      <%= text_field_tag "delivery[width]" %>
      <br>
      <%= label_tag "Depth" %>
      <%= text_field_tag "delivery[depth]" %>
      <br>
      <%= submit_tag "Submit" %>
  <% end %>
  <%= form_tag charge_path, id: "payment-form" , class: "short-form" do %>
    <div class="form-row">
      <label for="card-element">
      </label>
      <div id="card-element"></div>
      <div id="card-errors" role="alert"></div>
    </div>
  <% end %>
</div>

<div class="scrollable-dashboard">
  <h2>Orders</h2>
  <table>
  <thead>
    <tr>
      <th>Street</th>
      <th>House number</th>
      <th>Dimensions</th>
      <th>Status</th>
      <th>Tracking Number</th>
    </tr>
  </thead>
  <tbody>
    <% @user_deliveries.each do |order| %>
      <tr>
        <td><%= order.street %></td>
        <td><%= order.house_number %></td>
        <td><%= order.height %> x <%= order.width %> x <%= order.depth %></td>
        <td><%= order.status %></td>
        <td><%= order.tracking_number %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>


<div class="road-container">
  <div class="road"></div>
  <div class="red-truck"></div>
  <div class="car"></div>
  <div class="white-line"></div>
</div>


<script src="https://js.stripe.com/v3/"></script>
<script>
  var stripe = Stripe('pk_test_51MQSDuEM03nHu9w8mCc2cFV1HwsrtgsHDAnE0mQCJubYxjCoqUDNZVQ4qarwOuhii0p2PdkosflO2q7fNK5WoUM500MxAsTXhi');
  var elements = stripe.elements();
  var cardElement = elements.create('card');
  cardElement.mount('#card-element');
  cardElement.addEventListener('change', function (event) {
    var displayError = document.getElementById('card-errors');
    if (event.error) {
      displayError.textContent = event.error.message;
    } else {
      displayError.textContent = '';
    }
  });
  var form = document.getElementById('payment-form');
  form.addEventListener('submit', function (event) {
    event.preventDefault();
    stripe.createToken(cardElement).then(function (result) {
      if (result.error) {
        var errorElement = document.getElementById('card-errors');
        errorElement.textContent = result.error.message;
      } else {
        stripeTokenHandler(result.token);
      }
    });
  });
  function stripeTokenHandler(token) {
    var form = document.getElementById('payment-form');
    var hiddenInput = document.createElement('input');
    hiddenInput.setAttribute('type', 'hidden');
    hiddenInput.setAttribute('name', 'stripeToken');
    hiddenInput.setAttribute('value', token.id);
    form.appendChild(hiddenInput);
    form.submit();
  }
</script>

<% if user_signed_in? %>
  <%= link_to "Log out", destroy_user_session_path, method: :delete %>
<% end %>
